<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 180 | escape }}">

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <link rel="stylesheet" type="text/css" href="/assets/style.css">

  <script type="text/javascript" src="/assets/jquery.js"></script>
  <script type="text/javascript" src="/assets/jquery-ui.js"></script>
  <script type="text/javascript" src="/assets/hammer.min.js"></script>
  <script type="text/javascript" src="/assets/mousetrap.min.js"></script>
  <script type="text/javascript" src="/assets/content.js"></script>
  
  <script type="text/javascript" src="/assets/hoanhan101.js"></script>
  <script type="text/javascript" src="/assets/aidenbarger.js"></script>
  <script type="text/javascript" src="/assets/jlguevara-bennington.js"></script>
  <script type="text/javascript" src="/assets/matthewbennington.js"></script>
  <script type="text/javascript" src="/assets/nushlaywhyee.js"></script>
  <script type="text/javascript" src="/assets/sydmiller.js"></script>
  <script type="text/javascript" src="/assets/theinternetisfake.js"></script>
  <script type="text/javascript" src="/assets/jpmulligan49.js"></script>
  <script type="text/javascript" src="/assets/xianeswenson.js"></script>
  <script type="text/javascript" src="/assets/iyotova95.js"></script>
  <script type="text/javascript" src="/assets/ejzeltzer.js"></script>
  <script type="text/javascript" src="/assets/zzimmerle.js"></script>
  <script type="text/javascript" src="/assets/demo-branch.js"></script>

</head>
